<% @users.each do |user| %>
  <ul class="chat-room">
    <li><%= "#{user.name} (#{user.user_name})" %></li>
    <li>
      <%= link_to_if current_user.slack_authorized?,
        "web",
        chat_rooms_path({ user_id: user.id, app: false }),
        method: :post,
        target: "_blank"
      %>
    </li>
    <li>
      <%= link_to_if current_user.slack_authorized?,
        "app",
        chat_rooms_path({ user_id: user.id, app: true }),
        method: :post
      %>
    </li>
  </ul>
<% end %>
