<footer>
  <p style="text-align: center;">
    <%= link_to("©", bots_path(all_users: true), method: :post, style: "color: inherit; text-decoration: none;") %>
    by
    <strong>Ihor Breza</strong>
  </p>
</footer>
